

<style>
* {
    margin: 0;
    padding: 0;
  }
  .navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-left: 600px;
  padding-bottom: 50px;

}
.navbar-brand{
	font-size: 1.5rem;
	margin: .5rem;
}

.navbar-flex div{
	display: flex;
}

.navbar-links ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
}
.navbar-links li a {
	text-decoration: none;	
	padding: 1rem;
	display: block;
}
nav a{
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: .36em 0.9375em;
}

nav {   
    font-size: 1.5em;
    display: inline-block;    
}

nav ul li{
    margin: 0;
    display: inline;
    padding-right: .15em;
}
.links{
  font-size: medium;
}
.headDiv{
  
}
.mainDiv{
  background-color: gray;
  height: 800px;
  padding: 100px 100px 100px 500px;
}
.mainDiv2{
  background-color: rgb(238, 177, 177);
  height: 500px;
}
.mainDiv3{
  background-color: rgb(177, 226, 238);
  height: 500px;
}
.mainDiv4{
  background-color: rgb(171, 160, 235);
  height: 500px;
}
.mainDiv5{
  background-color: rgb(214, 233, 130);
  height: 500px;
}
.mainDiv6{
  background-color: rgb(91, 209, 230);
  height: 500px;
}
.mainDiv7{
  background-color: rgb(136, 231, 195);
  height: 500px;
}
.divContent{
  padding: 250px 100px 200px 600px;
}
.textDiv{
  /* background-color: black; */
  /* width: 500px; */
  /* height: 500px; */
}
.addBtn{
  width: 25px;
  height: 25px;
}
</style>

<nav>
  <h2>Picker Wheel</h2>
  <div class="navbar navbar-expand-lg bg-light">
    <div className="navbar-links" id="navbarSupportedContent">

      <ul>
        <li class="links">HOME</li>
        <li class="links">ABOUT</li>
        <li class="links">SERVICE</li>
        <li class="links">TESTIMONIALS</li>
        <li class="links">PORTFOLIO</li>
        <li class="links">CONTACT</li>
      </ul>
    </div>
  </div>
</nav>
<div class="mainDiv">
  <div class="headDiv">
    <label>INPUTS 2</label>
  </div>
  <div class="textDiv">
    <input type="text" placeholder="Input text here..." id="intext" ngModel="input" />    
    <button class="addBtn" (click)="loadText()">+</button>
  </div>
  <div>
    - - - - - - - - - - - - - - - - - - - - - - - - - -
  </div>  
  <div>
    <div>

    </div>
    <i class="fa-solid fa-grip-vertical"></i>
    <i class="fa-duotone fa-check"></i>
    <i class="fa-solid fa-xmark"></i>
  </div>
  
</div>
<div class="mainDiv2">
  <div class="divContent">SOME WORDS ABOUT US</div>
</div>
<div class="mainDiv3">
  <div class="divContent">TAKE A LOOK AT OUR SERVICES</div>
</div>
<div class="mainDiv4">
  <div class="divContent">SOME WORDS ABOUT US</div>
</div>
<div class="mainDiv5">
  <div class="divContent">OUR WORKS</div>
</div>
<div class="mainDiv6">
  <div class="divContent">WHAT OUR CLIENTS SAY ?</div>
</div>
<div class="mainDiv7">
  <div class="divContent">CONTACT US</div>
</div>







<script>

</script>
